html,
body {
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
  }

.window {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0%;
}

.navPane {
    display: flex;
    position: top;
    width: 100%;
    height: 25px;
    background-color: green;
    justify-content: center;
}

.title {
    align-self: right;
}

.logout {
    align-self: flex-end;
}

.chatWindow {
    height: 20px;
    background-color: gray;
}

/* .messageInput{
    
} */